apiVersion: v2
name: gotosocial
description: A Helm chart for Kubernetes to Deploy GoToSocial
icon: https://docs.gotosocial.org/en/latest/assets/sloth.png
home: https://github.com/superseriousbusiness/gotosocial

type: application
# Chart Version
version: "1.3.0"
# gotosocial version
appVersion: "0.20.0"

maintainers:
  - name: 0hlov3
    email: dev@privatetrace.io
    url: https://schoenwald.aero

dependencies:
  - name: postgresql
    version: ~11.9.13
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
