apiVersion: v2
name: gotosocial
description: A Helm chart for Kubernetes to Deploy GoToSocial
icon: https://docs.gotosocial.org/en/latest/assets/sloth.png
home: https://github.com/superseriousbusiness/gotosocial

type: application
# Chart Version
version: "0.5.2"

# gotosocial version
appVersion: "0.17.3"

maintainers:
  - name: fSocietySocial
    email: dev@fsociety.social
    url: https://fsociety.social

dependencies:
  - name: postgresql
    version: ~11.9.13
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
