{{- $fullName := include "gotosocial.fullname" . -}}
{{- $podAnnotations := .Values.podAnnotations }}
{{- $secretAnnotation := dict "checksum/secrets" (include (print $.Template.BasePath "/secrets.yaml") . | sha256sum) }}
{{- $newPodAnnotations := merge $podAnnotations $secretAnnotation }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}
  labels:
    {{- include "gotosocial.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    {{- toYaml .Values.gotosocial.strategy | nindent 4 }}
  selector:
    matchLabels:
      {{- include "gotosocial.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with $newPodAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "gotosocial.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "gotosocial.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      {{- with .Values.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.registry }}/{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args: ["--config-path", "/config/config.yaml"]
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          startupProbe:
            {{- toYaml .Values.startupProbe | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
          {{- range .Values.gotosocial.extraEnv }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ###################
          # Database Config #
          ###################
          {{- if ne .Values.sqLite.tmpdir "" }}
            - name: SQLITE_TMPDIR
              value: "{{- .Values.sqLite.tmpdir }}"
          {{- end }}
          {{- if and .Values.postgresql.enabled (ne .Values.postgresql.auth.existingSecret "") }}
            - name: GTS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.postgresql.auth.existingSecret }}
                  key: "password"
          {{- else if and .Values.externalPostgresql.enabled (ne .Values.externalPostgresql.existingSecret "") }}
            - name: GTS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.externalPostgresql.existingSecret }}
                  key: {{ .Values.externalPostgresql.existingSecretPasswordKey }}
          {{- end }}
          #####################
          # s3 storage config #
          #####################
          {{- if .Values.gotosocial.config.storage.s3.enabled }}
            - name: GTS_STORAGE_S3_ACCESS_KEY
              {{- if ne .Values.gotosocial.config.storage.s3.existingSecret "" }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.gotosocial.config.storage.s3.existingSecret }}
                  key: "S3_ACCESS_KEY_ID"
              {{- else }}
              value: {{ .Values.gotosocial.config.storage.s3.accessKey }}
              {{- end }}
            - name: GTS_STORAGE_S3_SECRET_KEY
              {{- if ne .Values.gotosocial.config.storage.s3.existingSecret "" }}
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.gotosocial.config.storage.s3.existingSecret }}
                  key: "S3_SECRET_ACCESS_KEY"
              {{- else }}
              value: {{ .Values.gotosocial.config.storage.s3.secretKey }}
              {{- end }}
          {{- end }}
          ###############
          # SMTP Config #
          ###############
          {{- if ne .Values.gotosocial.config.smtp.existingSecretName "" }}
            - name: GTS_SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.gotosocial.config.smtp.existingSecretName }}
                  key: {{ .Values.gotosocial.config.smtp.existingSecretKey }}
          {{- end }}
          volumeMounts:
            - name: gotosocial-config
              mountPath: "/config/"
              readOnly: true
            {{- if .Values.gotosocial.persistence.enabled }}
            - name: gotosocial-data
              mountPath: "/gotosocial/storage/"
              readOnly: false
            {{- end }}
            {{- if .Values.gotosocial.tmpfs.enabled }}
            - name: tmpfs
              mountPath: /tmp
            {{- end }}
      volumes:
        - name: gotosocial-config
          secret:
            secretName: {{ $fullName }}
            optional: false
            #items:
            #- key: "config.yaml"
            #  path: "config.yaml"
        {{- if .Values.gotosocial.persistence.enabled }}
        - name: gotosocial-data
          persistentVolumeClaim:
            claimName: {{ include "gotosocial.volume.claimName" . }}
        {{- end }}
        {{- if .Values.gotosocial.tmpfs.enabled }}
        - name: tmpfs
          emptyDir:
            sizeLimit: {{ .Values.gotosocial.tmpfs.size }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
