apiVersion: v2
name: matrix-synapse
description: A Helm chart for deploying Matrix Synapse on Kubernetes
icon: https://avatars.githubusercontent.com/u/13446337?s=48&v=4
home: https://github.com/element-hq/synapse
type: application

# Chart version should follow semantic versioning: https://semver.org/
version: 1.0.23

# Application version reflects the specific release of the application.
# Use quotes to preserve formatting.
appVersion: "v1.142.1"

# Chart maintainers, contributors, and related metadata.
maintainers:
  - name: 0hlov3
    email: dev@privatetrace.io
    url: https://schoenwald.aero

# Sources for the application, such as repositories or documentation.
sources:
  - https://github.com/element-hq/synapse
  - https://matrix.org
  - https://www.dragonflydb.io

# Keywords help users discover your chart in repositories.
keywords:
  - matrix
  - synapse
  - chat
  - helm
  - kubernetes

# Dependencies required for this chart to work. Semantic version ranges allow flexibility.
dependencies:
  - name: dragonfly
    version: "v1.27.1"
    repository: "oci://ghcr.io/dragonflydb/dragonfly/helm"
    condition: dragonfly.enabled
