apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "yopass.fullname" . }}
  labels:
    {{- include "yopass.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "yopass.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "yopass.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "yopass.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          args:
            - "--address={{ .Values.yopass.listenAddress }}"
            - "--database=memcached"
            - "--max-length={{ .Values.yopass.secretMaxLength  }}"
            - "--memcached=localhost:11211"
            - "--port={{ .Values.service.port }}"
          env:
            - name: DISABLE_UPLOAD
              value: {{ .Values.config.disable_upload | quote }}
            - name: PREFETCH_SECRET
              value: {{ .Values.config.prefetch_secret | quote }}
            - name: DISABLE_FEATURES
              value: {{ .Values.config.disable_features | quote }}
            - name: NO_LANGUAGE_SWITCHER
              value: {{ .Values.config.no_language_switcher | quote }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        - name: {{ .Chart.Name }}-memcached
          image: "{{ .Values.memcached.image.registry }}/{{ .Values.memcached.image.repository }}:{{ required "memcached.image.tag is required and must not be empty" .Values.memcached.image.tag }}"
          imagePullPolicy: {{ .Values.memcached.image.pullPolicy }}
          resources:
            {{- toYaml .Values.memcached.resources | nindent 12 }}
          args:
            - "-m 64"
          ports:
            - name: memcached
              containerPort: 11211
          livenessProbe:
            tcpSocket:
              port: 11211
          readinessProbe:
            tcpSocket:
              port: 11211
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
